Repository BrezhnevAlexandr/momo-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: kluster-kubernetes, backend, frontend, momo-chart

.gitlab-ci.yml:

stages:
  - prepare
  - module-pipelines
  - deploy

kluster-kubernetes:
  stage: prepare
  trigger:
    include:
      - local: /yandex-k8s-cluster/.gitlab-ci.yml
    strategy: depend
  only:
    changes:
      - yandex-k8s-cluster/**/*     



backend:
  stage: module-pipelines
  trigger:
    include:
      - local: /backend/.gitlab-ci.yml
    strategy: depend
  only:
    changes:
      - backend/**/*
  


frontend:
  stage: module-pipelines
  trigger:
    include:
      - local: /frontend/.gitlab-ci.yml
    strategy: depend
  only:
    changes:
      - frontend/**/*
      

momo-chart:
  stage: deploy
  trigger:
    include:
      - local: /momo-store-chart/.gitlab-ci.yml
    strategy: depend
  only:
    changes:
      - momo-store-chart/**/*
  needs:
    - job: kluster-kubernetes

prod test 23
  yandex-k8s-cluster/.gitlab-ci.yml
Due: kluster-kubernetes

prod test 24
  .gitlab-ci.yml
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 25
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 26
  .gitlab-ci.yml
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 27
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 28
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 29
  momo-store-chart/.gitlab-ci.yml
  yandex-k8s-cluster/.terraform.lock.hcl
  yandex-k8s-cluster/main.tf
  yandex-k8s-cluster/test.kubeconfig
Due: kluster-kubernetes, momo-chart

prod test 30
  .gitlab-ci.yml
  yandex-k8s-cluster/.gitlab-ci.yml
  yandex-k8s-cluster/ca.pem
  yandex-k8s-cluster/main.tf
  yandex-k8s-cluster/~.kubeconfig
Due: kluster-kubernetes

prod test 31
  yandex-k8s-cluster/ca.pem
  yandex-k8s-cluster/~.kubeconfig
Due: kluster-kubernetes

prod test 31
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 32
  .gitlab-ci.yml
  yandex-k8s-cluster/.gitlab-ci.yml
Due: kluster-kubernetes

prod test 33
  yandex-k8s-cluster/.gitlab-ci.yml
Due: kluster-kubernetes

prod test 34
  yandex-k8s-cluster/.gitlab-ci.yml
Due: kluster-kubernetes

prod test 35
  yandex-k8s-cluster/.gitlab-ci.yml
Due: kluster-kubernetes

prod test 36
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 37
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 38
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 39
  momo-store-chart/.gitlab-ci.yml
  momo-store-chart/kubeconfig.sh
Due: momo-chart

prod test 40
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 41
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 42
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 43
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 44
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 45
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 46
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 47
  momo-store-chart/.gitlab-ci.yml
  momo-store-chart/kubeconfig.sh
Due: momo-chart

prod test 48
  momo-store-chart/kubeconfig.sh
Due: momo-chart

prod test 49
  momo-store-chart/.gitlab-ci.yml
  momo-store-chart/kubeconfig.sh
Due: momo-chart

prod test 50
  momo-store-chart/.gitlab-ci.yml
  momo-store-chart/kubeconfig.sh
Due: momo-chart

prod test 51
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 52
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 53
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 54
  momo-store-chart/.gitlab-ci.yml
Due: momo-chart

prod test 55
  momo-store-chart/.gitlab-ci.yml
  momo-store-chart/kubeconfig.sh
Due: momo-chart

prod test 56
  momo-store-chart/.gitlab-ci.yml
  momo-store-chart/kubeconfig.sh
Due: momo-chart

prod test 57
  momo-store-chart/kubeconfig.sh
Due: momo-chart

prod test 58
  momo-store-chart/kubeconfig.sh
Due: momo-chart

prod test 59
  momo-store-chart/.gitlab-ci.yml
  momo-store-chart/kubeconfig.sh
Due: momo-chart

prod test 60
  momo-store-chart/.gitlab-ci.yml
  momo-store-chart/kubeconfig.sh
Due: momo-chart

prod test 61
  momo-store-chart/.gitlab-ci.yml
  momo-store-chart/kubeconfig.sh
Due: momo-chart
